@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lagon-dark bg-lagon-light font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-lagon-navy;
  }
}
